html[b-n47dqzd7c4] {
    background-color: red;
}

body[b-n47dqzd7c4] {
    font-family: 'Shippori Antique B1', sans-serif;
}

.text-center[b-n47dqzd7c4] {
    font-family: 'Shippori Antique B1', sans-serif;
}

.text-center p[b-n47dqzd7c4] {
    font-size: 24px;
}

.display-4[b-n47dqzd7c4] {
    padding-top:  150px;
}

bodyStyles[b-n47dqzd7c4] {
    background-color: red;
}

.link[b-n47dqzd7c4] {
    color: white;
    text-decoration: underline;
}
